#contacts-map {
  height: 300px;
  width: 100%;
  /*position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  overflow: hidden;*/

  iframe {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;*/
  }
}

.contacts-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  @include pie-clearfix();
}

.contacts {

  .objects-delimeter--mini {
    margin-bottom: 30px;
  }

  .flag {
    width: 100%;
  }

  .casino-header__main {

  }

  .contacts-address {


    .casino-contacts {
      padding-top: 30px;

      .casino-contacts__tel {
        margin: 0 auto;
        width: 100%;
        float: none;
        display: block;

        @include MQ(M) {
          width: 80%;
        }
      }
    }
  }

  .contacts-form {
    margin-top: 0;
    position: relative;

    textarea {
      display: block;
      min-width: 100%;
      max-width: 100%;

      width: 90%;
      height: 200px;

      min-height: 80%;
      max-height: 80%;

      overflow: auto;
      background: #ffffff;
      border: 3px solid #c3d0d9;
      padding: 4px 6px;
      color: #555555;
      resize: none;
    }

    input {
      background: #ffffff;
      border: 3px solid #c3d0d9;
      height: 50px;
    }
  }

  .booking-thankyou {
    @include pie-clearfix();
  }

}

.contacts-form {
  display: inline-block;

  @include MQ(M) {
    display: table-cell;
  }

  .booking-step4-form {
    position: relative;
  }
}

.contacts-address {
  @include pie-clearfix();
  display: inline-block;

  @include MQ(M) {
    display: table-cell;
  }
}

.contacts-address__header {
  font-size: 1.1em;
  text-align: center;
}