@()(implicit info: Info)

<p class="helper-text">Мы обещаем только самые положительные эмоции от<br/> вашего пребывания в Royal Casino SPA & Hotel Resort</p>
<img src="@routes.Assets.at("images/juliaphoto.png")" alt="julia" />
<p class="helper-text">Ваш личный помощник - <b>Юлия.</b></p>
<div class="phonenum"><p>@info.telRussia</p></div>
<div class="phonenum"><p>@info.telRiga</p></div>
<a href="#" class="emaillink">@Html("julia@riga-royal.ru")</a>	<br />
<a href="#callback-form" class="contactlink">Мы перезвоним</a><br />