<div class="menudropdown-wrapper">
    <div class="menudropdown">
        <a class="menudropdownbut">Меню</a>
        <ul class="hidden">
            <li><a href="@routes.Application.index()">Главная</a></li>
            <li><a href="@routes.RoomController.rooms()">Номера</a></li>
            <li><a href="@routes.Booking.step1()">Бронирование</a></li>
            <li><a href="@routes.ObjectPages.casinoMain()">Услуги</a></li>
            <li><a href="@routes.Offers.offer("wedding")">Акции</a></li>
            <li><a href="@routes.Contacts.index()">Контакты</a></li>
        </ul>
    </div>
</div>