<div class="container-metro">

    <div class="box--three-col-wrapper">
        <div class="box__ribbon--violete"></div>
        <a href="@routes.RoomController.rooms" title="Номера отеля в Риге - Royal Casino SPA&Hotel Resort" class="box">
            <div class="box--imgwrapper-room box--three-col"></div>
            <div class="box__snippet">
                <p>Выберите свой неповторимый номер</p>
            </div>
        </a>
    </div>

    <div class="box--three-col-wrapper">
        <div class="box__ribbon--orange"></div>
        <a href="@routes.RoomController.roomPage("newyork")#reviews" title="Отзывы гостиница Риги Royal Casino SPA and Hotel Resort" class="box">
            <img class="box__man" src="@routes.Assets.at("images/metro/man.png")" alt="Отзывы клиентов Royal Casino SPA&Hotel Resort"/>
            <div class="box--imgwrapper-bg box--two-col">
                <p>ИСТОРИИ<br />отдыхающих</p>
            </div>
        </a>

        <a href="@routes.RoomController.roomPage("newyork")#reviews" title="Отзыв отель Риги Royal Casino" class="box">
            <div class="box--imgwrapper-pattern2 box--two-col">
                <h2>Превосходный отель</h2>
                <p>Очень красивые и дорогие обстановка и интерьеры. Просто супер!!! Есть казино.</p>
            </div>
        </a>

    </div>

    <div class="box--two-col-wrapper">

        <div class="box__ribbon--green"></div>

        <a href="@routes.ObjectPages.casinoMain()" title="Ночные клубы в развлекательном комплексе и отеле Риги Royal Casino" class="box">
            <div class="box__ribbon--music box__ribbon--lt"></div>
            <div class="box--imgwrapper-clubs box--two-col"></div>
            <div class="box__snippet">
                <p>Ночные клубы</p>
            </div>
        </a>


        <a href="@routes.ObjectPages.casinoMain()" title="СПА-салон в лучшем отеле Риги Royal Casino SPA and Hotel Resort" class="box">
            <div class="box__ribbon--spa box__ribbon--br"></div>
            <div class="box--imgwrapper-spa box--two-col"></div>
            <div class="box__snippet">
                <p>SPA</p>
            </div>
        </a>

    </div>

    <div class="box--two-col-wrapper">

        <div class="box__ribbon--green"></div>

        <a href="@routes.ObjectPages.casinoMain()" title="Казино тур в Ригу вместе с Royal Casino SPA and Hotel Resort" class="box">
            <div class="box__ribbon--casino box__ribbon--br"></div>
            <div class="box--imgwrapper-casino box--two-col"></div>
            <div class="box__snippet box__snippet--top">
                <p>Казино</p>
            </div>
        </a>


        <a href="https://vimeo.com/91707732" title="Видео Royal Casino SPA and Hotel Resort" class="box popup-vimeo">
            <div class="box--imgwrapper-video box--two-col"></div>
        </a>

    </div>

    <div class="box--two-col-wrapper">

        <div class="box__ribbon--green"></div>

        <a href="@routes.ObjectPages.casinoMain()" title="Рестораны в развлекательном комплексе и отеле Риги Royal Casino" class="box">
            <div class="box__ribbon--food box__ribbon--lt"></div>
            <div class="box--imgwrapper-food box--two-col"></div>
            <div class="box__snippet">
                <p>Рестораны</p>
            </div>
        </a>


        <a href="@routes.ObjectPages.casinoMain()" title="Узнайте больше об инфраструктуре отеля и развлекательного комплекса Риги" class="box">
            <div class="box--imgwrapper-pattern1 box--two-col">
                <p>Узнать больше</p>
            </div>
        </a>

    </div>

</div>