<div id="reviews" class="why-room__header"><h2>Истории отдыхающих:</h2></div>

<section class="why-room-articles">

    <div class="container-metro">

        <div class="holidaystories">

            <div class="storydesc visible">

                <div class="storydesctext">
                    <span class="quote-icon"></span>
                    <p>Спасибо огромное за Царский прием! Было очень уютно. Хотим еще :)</p>
                    <div class="clear"></div>
                    <div class="review-book flag">
                        <div class="review-book__left flag__body">
                            <span class="arrow1-icon"></span>
                            <div class="clear"></div>
                            <p>Посмотреть в<br/>книге отзывов</p>
                        </div>

                        <div class="review-book-img flag__body">
                            <a class="review-book__image" href="@routes.Assets.at("images/reviews/сhai-vdvoem-riga-1_b.jpg")">
                                <img src="@routes.Assets.at("images/reviews/chai-vdvoem-1.jpg")" alt="Отзыв гостиница Риги от группы Чай Вдвоем Royal Casino SPA&Hotel Resort" />
                            </a>
                            <div class="zoom-icon"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="storydesc">

                <div class="storydesctext">
                    <span class="quote-icon"></span>
                    <p>Спасибо Вам! Невероятное пребывание! Оооооочень крутая гостиница!!!!</p>
                    <div class="clear"></div>
                    <div class="review-book flag">
                        <div class="review-book__left flag__body">
                            <span class="arrow1-icon"></span>
                            <div class="clear"></div>
                            <p>Посмотреть в<br/>книге отзывов</p>
                        </div>

                        <div class="review-book-img flag__body">
                            <a class="review-book__image" href="@routes.Assets.at("images/reviews/polina-gagarina-royal-casino-l.jpg")">
                                <img src="@routes.Assets.at("images/reviews/polina-gagarina-royal-casino-s.jpg")" alt="Отзыв гостиница Риги от Полины Гагариной Royal Casino SPA and Hotel Resort" />
                            </a>
                            <div class="zoom-icon"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="storydesc">

                <div class="storydesctext">
                    <span class="quote-icon"></span>
                    <p>Огромное спасибо всем сотрудникам Royal Casino от нас за уют, роскошь, чувство вкуса, незабываемую кухню, чистоту, тишину .. и пр. И пр... Спасибо за уровень!</p>
                    <div class="clear"></div>
                    <div class="review-book flag">
                        <div class="review-book__left flag__body">
                            <span class="arrow1-icon"></span>
                            <div class="clear"></div>
                            <p>Посмотреть в<br/>книге отзывов</p>
                        </div>

                        <div class="review-book-img flag__body">
                            <a class="review-book__image" href="@routes.Assets.at("images/reviews/gorod-312-royal-casino-l.jpg")">
                                <img src="@routes.Assets.at("images/reviews/gorod-312-royal-casino-s.jpg")" alt="Отзыв отель Риги от группы Город 312 Royal Casino SPA and Hotel Resort" />
                            </a>
                            <div class="zoom-icon"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="storydesc">

                <div class="storydesctext">
                    <span class="quote-icon"></span>
                    <p>Royal Hotel + Дискотека Авария! Всем успехов. Любим!!!</p>
                    <div class="clear"></div>
                    <div class="review-book flag">
                        <div class="review-book__left flag__body">
                            <span class="arrow1-icon"></span>
                            <div class="clear"></div>
                            <p>Посмотреть в<br/>книге отзывов</p>
                        </div>

                        <div class="review-book-img flag__body">
                            <a class="review-book__image" href="@routes.Assets.at("images/reviews/diskoteka-avariya-royal-casino-l.jpg")">
                                <img src="@routes.Assets.at("images/reviews/diskoteka-avariya-royal-casino-s.jpg")" alt="Отзыв отель Риги от группы Дискотека авария Royal Casino SPA and Hotel Resort" />
                            </a>
                            <div class="zoom-icon"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="storydesc">

                <div class="storydesctext">
                    <span class="quote-icon"></span>
                    <div class="clear"></div>
                    <div class="review-book flag">
                        <div class="review-book__left flag__body">
                            <span class="arrow1-icon"></span>
                            <div class="clear"></div>
                            <p>Посмотреть в<br/>книге отзывов</p>
                        </div>

                        <div class="review-book-img flag__body">
                            <a class="review-book__image" href="@routes.Assets.at("images/reviews/fomin-review-royal-casino-b.jpg")">
                                <img src="@routes.Assets.at("images/reviews/fomin-review-royal-casino.jpg")" alt="Отзыв отель Риги от Мити Фомина Royal Casino SPA and Hotel Resort" />
                            </a>
                            <div class="zoom-icon"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="storydesc">

                <div class="storydesctext">
                    <span class="quote-icon"></span>
                    <div class="clear"></div>
                    <div class="review-book flag">
                        <div class="review-book__left flag__body">
                            <span class="arrow1-icon"></span>
                            <div class="clear"></div>
                            <p>Посмотреть в<br/>книге отзывов</p>
                        </div>

                        <div class="review-book-img flag__body">
                            <a class="review-book__image" href="@routes.Assets.at("images/reviews/zaycevi-royal-casino-b.jpg")">
                                <img src="@routes.Assets.at("images/reviews/zaycevi-royal-casino-s.jpg")" alt="Отзыв отель Риги сестры Зайцевы Comedy Club в Royal Casino" />
                            </a>
                            <div class="zoom-icon"></div>
                        </div>
                    </div>
                </div>

            </div>

            @*<div class="storybuts">
            <a href="#" class="addreview">Добавить</a>
            <a href="#" class="viewreview">Все отзывы</a>
            </div>*@

            <div class="storyphoto">
                <div class="photothumbs">
                    <ul>
                        <li class="active">
                            <div class="storyphototext">Чай Вдвоем</div>
                            <img src="@routes.Assets.at("images/reviews/chai-vdvoem.jpg")" alt="Отзыв гостиница Риги от группы Чай Вдвоем Royal Casino SPA&Hotel Resort" />
                        </li>
                        <li>
                            <div class="storyphototext">Полина Гагарина</div>
                            <img src="@routes.Assets.at("images/reviews/polina-gagarina.jpg")" alt="Отзыв гостиница Риги от Полины Гагариной Royal Casino SPA and Hotel Resort" />
                        </li>
                        <li>
                            <div class="storyphototext">Группа Город 312</div>
                            <img src="@routes.Assets.at("images/reviews/gorod-312.jpg")" alt="Отзыв гостиницы Риги от группы Город 312 Royal Casino SPA and Hotel Resort" />
                        </li>
                        <li>
                            <div class="storyphototext">Дискотека Авария</div>
                            <img src="@routes.Assets.at("images/reviews/diskoteka-avariya.jpg")" alt="Отзыв отель Риги от группы Дискотека авария Royal Casino SPA and Hotel Resort" />
                        </li>
                        <li>
                            <div class="storyphototext">Митя Фомин</div>
                            <img src="@routes.Assets.at("images/reviews/fomin-royal-casino.jpg")" alt="Отзыв гостиница Риги Митя Фомин Royal Casino" />
                        </li>
                        <li>
                            <div class="storyphototext">Сестры Зайцевы</div>
                            <img src="@routes.Assets.at("images/reviews/zaycevi-royal-casino.jpg")" alt="Отзыв отель Риги сестры Зайцевы Comedy Club Royal Casino" />
                        </li>
                    </ul>
                </div>

                <div class="photodetail visible">
                    <span class="arrow-icon"></span>
                    <p><b>Денис Клявер & Стас Костюшкин</b> - "Чай Вдвоем"</p>
                </div>

                <div class="photodetail">
                    <span class="arrow-icon"></span>
                    <p><b>Полина Гагарина</b></p>
                </div>

                <div class="photodetail">
                    <span class="arrow-icon"></span>
                    <p><b>Город 312</b></p>
                </div>

                <div class="photodetail">
                    <span class="arrow-icon"></span>
                    <p><b>Дискотека авария</b></p>
                </div>

                <div class="photodetail">
                    <span class="arrow-icon"></span>
                    <p><b>Митя Фомин</b></p>
                </div>

                <div class="photodetail">
                    <span class="arrow-icon"></span>
                    <p><b>Сестры Зайцевы - Comedy Club</b></p>
                </div>

            </div>

            <div class="clear"></div>

        </div>

        <div class="holidaystories-mobile">
            <ul>
                <li class="active">
                    <div class="storybordertop"></div>
                    <div class="storyyellowimg">
                        <div class="storyimg"><img src="@routes.Assets.at("images/reviews/chai-vdvoem.jpg")" alt="Отзыв гостиница Риги от группы Чай Вдвоем Royal Casino SPA&Hotel Resort"></div>
                    </div>
                    <div class="storytext">
                        <p>Спасибо огромное за Царский прием! Было очень уютно. Хотим еще :)</p>
                        <hr class="purplehr" style="width:100%; margin:8px auto;" />
                        <div class="clear"></div>
                        <div class="review-book flag">
                            <div class="review-book__left flag__body">
                                <span class="arrow1-icon"></span>
                                <div class="clear"></div>
                                <p>Посмотреть в<br/>книге отзывов</p>
                            </div>

                            <div class="review-book-img flag__body">
                                <a class="review-book__image" href="@routes.Assets.at("images/reviews/сhai-vdvoem-riga-1_b.jpg")">
                                    <img src="@routes.Assets.at("images/reviews/chai-vdvoem-1.jpg")" alt="Отзыв гостиница Риги от группы Чай Вдвоем Royal Casino SPA&Hotel Resort" />
                                </a>
                                <div class="zoom-icon"></div>
                            </div>
                        </div>
                        @*<a href="#" class="addreview">Добавить</a>
                        <a href="#" class="viewreview">Все отзывы</a>*@
                    </div>
                </li>
                <li>
                    <div class="storybordertop"></div>
                    <div class="storyyellowimg">
                        <div class="storyimg"><img src="@routes.Assets.at("images/reviews/polina-gagarina.jpg")" alt="Отзыв гостиница Риги от Полины Гагариной Royal Casino SPA&Hotel Resort"></div>
                    </div>
                    <div class="storytext">
                        <p>Спасибо Вам! Невероятное пребывание! Оооооочень крутая гостиница!!!!</p>
                        <hr class="purplehr" style="width:100%; margin:8px auto;" />
                        <div class="clear"></div>
                        <div class="review-book flag">
                            <div class="review-book__left flag__body">
                                <span class="arrow1-icon"></span>
                                <div class="clear"></div>
                                <p>Посмотреть в<br/>книге отзывов</p>
                            </div>

                            <div class="review-book-img flag__body">
                                <a class="review-book__image" href="@routes.Assets.at("images/reviews/polina-gagarina-royal-casino-l.jpg")">
                                    <img src="@routes.Assets.at("images/reviews/polina-gagarina-royal-casino-s.jpg")" alt="Отзыв отеля Риги от Полины Гагариной Royal Casino SPA&Hotel Resort" />
                                </a>
                                <div class="zoom-icon"></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="storybordertop"></div>
                    <div class="storyyellowimg">
                        <div class="storyimg"><img src="@routes.Assets.at("images/reviews/gorod-312.jpg")" alt="Отзыв гостиница Риги от группы Город 312 Royal Casino SPA&Hotel Resort"></div>
                    </div>
                    <div class="storytext">
                        <p>Огромное спасибо всем сотрудникам Royal Casino от нас за уют, роскошь, чувство вкуса, незабываемую кухню, чистоту, тишину .. и пр. И пр... Спасибо за уровень!</p>
                        <hr class="purplehr" style="width:100%; margin:8px auto;" />
                        <div class="clear"></div>
                        <div class="review-book flag">
                            <div class="review-book__left flag__body">
                                <span class="arrow1-icon"></span>
                                <div class="clear"></div>
                                <p>Посмотреть в<br/>книге отзывов</p>
                            </div>

                            <div class="review-book-img flag__body">
                                <a class="review-book__image" href="@routes.Assets.at("images/reviews/gorod-312-royal-casino-l.jpg")">
                                    <img src="@routes.Assets.at("images/reviews/gorod-312-royal-casino-s.jpg")" alt="Отзыв отеля Риги от группы Город 312 Royal Casino SPA&Hotel Resort" />
                                </a>
                                <div class="zoom-icon"></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="storybordertop"></div>
                    <div class="storyyellowimg">
                        <div class="storyimg"><img src="@routes.Assets.at("images/reviews/diskoteka-avariya.jpg")" alt="Отзыв гостиница Риги от группы Дискотека авария Royal Casino SPA&Hotel Resort"></div>
                    </div>
                    <div class="storytext">
                        <p>Royal Hotel + Дискотека Авария! Всем успехов. Любим!!!</p>
                        <hr class="purplehr" style="width:100%; margin:8px auto;" />
                        <div class="clear"></div>
                        <div class="review-book flag">
                            <div class="review-book__left flag__body">
                                <span class="arrow1-icon"></span>
                                <div class="clear"></div>
                                <p>Посмотреть в<br/>книге отзывов</p>
                            </div>

                            <div class="review-book-img flag__body">
                                <a class="review-book__image" href="@routes.Assets.at("images/reviews/diskoteka-avariya-royal-casino-l.jpg")">
                                    <img src="@routes.Assets.at("images/reviews/diskoteka-avariya-royal-casino-s.jpg")" alt="Отзыв отеля Риги от группы Дискотека Авария Royal Casino SPA&Hotel Resort" />
                                </a>
                                <div class="zoom-icon"></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="storybordertop"></div>
                    <div class="storyyellowimg">
                        <div class="storyimg"><img src="@routes.Assets.at("images/reviews/fomin-royal-casino.jpg")" alt="Отзыв гостиница Риги от Мити Фомина авария Royal Casino SPA&Hotel Resort"></div>
                    </div>
                    <div class="storytext">
                        <hr class="purplehr" style="width:100%; margin:8px auto;" />
                        <div class="clear"></div>
                        <div class="review-book flag">
                            <div class="review-book__left flag__body">
                                <span class="arrow1-icon"></span>
                                <div class="clear"></div>
                                <p>Посмотреть в<br/>книге отзывов</p>
                            </div>

                            <div class="review-book-img flag__body">
                                <a class="review-book__image" href="@routes.Assets.at("images/reviews/fomin-review-royal-casino-b.jpg")">
                                    <img src="@routes.Assets.at("images/reviews/fomin-review-royal-casino.jpg")" alt="Отзыв отеля Риги от Мити Фомина Royal Casino SPA&Hotel Resort" />
                                </a>
                                <div class="zoom-icon"></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="storybordertop"></div>
                    <div class="storyyellowimg">
                        <div class="storyimg"><img src="@routes.Assets.at("images/reviews/zaycevi-royal-casino.jpg")" alt="Отзыв гостиница Риги от естер Зацевых Comedy Club авария Royal Casino SPA&Hotel Resort"></div>
                    </div>
                    <div class="storytext">
                        <hr class="purplehr" style="width:100%; margin:8px auto;" />
                        <div class="clear"></div>
                        <div class="review-book flag">
                            <div class="review-book__left flag__body">
                                <span class="arrow1-icon"></span>
                                <div class="clear"></div>
                                <p>Посмотреть в<br/>книге отзывов</p>
                            </div>

                            <div class="review-book-img flag__body">
                                <a class="review-book__image" href="@routes.Assets.at("images/reviews/zaycevi-royal-casino-b.jpg")">
                                    <img src="@routes.Assets.at("images/reviews/zaycevi-royal-casino-s.jpg")" alt="Отзыв отели Риги от естер Зацевых Comedy Club Royal Casino SPA&Hotel Resort" />
                                </a>
                                <div class="zoom-icon"></div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>

</section>