<div class="specialoffer">
    <div class="container">
        <div class="flag">
            <div class="specialoffer__text flag__body" style="text-align:center;">
                    <div class="specialoffer__text__h2title">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</div>
                    <p class="specialoffer__text__h2desc">не оставят равнодушными</p>
            </div>


    <div class="specialoffer-accordion-wrapper flag__body">
        <div id="specialoffer-accordion">
            <section>
                <h3><img src="@routes.Assets.at("images/icons/offer-wedding.png")" alt="Незабываемая свадебная ночь в Риге в Royal Casino по акции" /></h3>
                <div>
                    <div class="offerdetail" style="background:url(../assets/images/specialofferimg.jpg) top center no-repeat; background-image:100% 100%; height:100%;">
                        <div class="offerdetailtext">Окутывающая атмосферой романтики программа Wedding night / Honeymoon</div>
                        <a href="@routes.Offers.offer("wedding")" class="offerbutton">Подробнее</a>
                    </div>
                </div>
            </section>
            <section>
                <h3><img src="@routes.Assets.at("images/icons/offer-birthday.png")" alt="Ваш день рождения по акции в отеле Риги Royal Casino" /></h3>
                <div>
                    <div class="offerdetail" style="background:url(../assets/images/offers/birthday-promo.jpg) top center no-repeat; background-image:100% 100%; height:100%;">
                        <div class="offerdetailtext">Зажигательная вечеринка с друзьями Birthday Party</div>
                        <a href="@routes.Offers.offer("party")" class="offerbutton">Подробнее</a>
                    </div>
                </div>
            </section>
            <section>
                <h3><img src="@routes.Assets.at("images/icons/offer-golf.png")" alt="Увлекательный гольф по акции в Royal Casino SPA and Hotel Resort" /></h3>
                <div>
                    <div class="offerdetail" style="background:url(../assets/images/offers/golf-promo.jpg) top center no-repeat; background-image:100% 100%; height:100%;">
                        <div class="offerdetailtext">Программа для любящих жизнь в движении Golf / Tennis</div>
                        <a href="@routes.Offers.offer("golf")" class="offerbutton">Подробнее</a>
                    </div>
                </div>
            </section>

        </div>
    </div>
        </div>
    </div>
</div>