@* OFFERS: WEDDING *@
@(title: String)(implicit callbackForm: Form[CallBack], subscribeForm : Form[SubscribeForm], offerForm: Form[OfferForm], info: Info, request: play.api.mvc.Request[Any], session: play.api.db.slick.Config.driver.simple.Session)
@import helper._

<!DOCTYPE html>

@import models.Currencys

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title</title>
        <meta name="description" content="Riga Rooms">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @excursionlinks()
    </head>
    <body class="mainpage offers-page">
            <!--[if lt IE 7]>
            <p class="browsehappy">Вы используйте <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите Ваш браузер.</a></p>
        <![endif]-->
        <div id="content-layer"></div>
        @elements.menumobile()
        <div class="main">
            @headers.headermini(info.sloganMain)

            <section class="offers">

                <div class="container">
                    <div class="pagebreadcrumb">
                        <ul>
                            <li><a href="@routes.Application.index()">Главная</a></li>
                            <li><a href="">Акции</a></li>
                            <li class="currentpage">Экскурсионный тур</li>
                        </ul>
                    </div>
                </div>

                <div class="container-metro">

                    <div class="menu-flat offers-menu">

                        <div class="offers-menu__timer">
                            <p class="offers-menu__timer__header">До конца акций осталось:</p>
                            <div class="offer__timer">
                                <span class="offer__timer--icon"></span>
                                <p class="offer__timer--hours">11&nbsp;:</p><p class="offer__timer--minutes">&nbsp;11:</p><p class="offer__timer--seconds">&nbsp;11</p>
                            </div>
                        </div>

                        <ul>
                            <li>
                                <a class="flag" href="@routes.Offers.offer("wedding")">
                                    <div class="svg-wrapper flag__image">
                                        <img src="@routes.Assets.at("images/offers/icon-wedding.png")" alt="Свадебное путешествие в Ригу Royal Casino">
                                    </div>
                                    <div class="offers-menu__content flag__body">
                                        <p>Свадебная ночь</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="flag" href="@routes.Offers.offer("golf")">
                                    <div class="svg-wrapper flag__image">
                                        <img src="@routes.Assets.at("images/offers/icons-golf.png")" alt="Активные мероприятия гольф и теннис Royal Casino">
                                    </div>
                                    <div class="offers-menu__content flag__body">
                                        <p>Гольф и теннис</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="flag" href="@routes.Offers.offer("spa")">
                                    <div class="svg-wrapper flag__image">
                                        <img src="@routes.Assets.at("images/offers/icons-spa.png")" alt="СПА тур в Ригу Royal Casino">
                                    </div>
                                    <div class="offers-menu__content flag__body">
                                        <p>SPA-тур</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="active flag" href="@routes.Offers.offer("excursion")">
                                    <div class="svg-wrapper flag__image">
                                        <img src="@routes.Assets.at("images/offers/icons-excursion.png")" alt="Экскурсия по Старой Риге Royal Casino">
                                    </div>
                                    <div class="offers-menu__content flag__body">
                                        <p>Старая Рига</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="flag" href="@routes.Offers.offer("party")">
                                    <div class="svg-wrapper flag__image">
                                        <img src="@routes.Assets.at("images/offers/icons-party.png")" alt="Вечеринка в номере люкс Нью-Йорк Royal Casino">
                                    </div>
                                    <div class="offers-menu__content flag__body">
                                        <p>Вечеринка</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a class="flag" href="@routes.Offers.offer("birthday")">
                                    <div class="svg-wrapper flag__image">
                                        <img src="@routes.Assets.at("images/offers/icons-birthday.png")" alt="День рождения в номере люкс Нью-Йорк Royal Casino">
                                    </div>
                                    <div class="offers-menu__content flag__body">
                                        <p>Ваш день рождения</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <section class="offers-content">
                        <div class="offers-content__header">
                            <h2 class="casino-header__main">Великое очарование Старой Риги вместе с <br/>Royal Casino SPA&amp;Hotel Resort</h2>
                            <hr class="objects-delimeter objects-delimeter--mini">

                            <div class="casino-list__content offers-content__list">
                                <ul>
                                    <li>Две ночи проживания в номере Premium Suite: <a href="@routes.RoomController.roomPage("amsterdam")">Amsterdam</a>, <a href="@routes.RoomController.roomPage("montecarlo")">Monte Carlo</a>, <a href="@routes.RoomController.roomPage("lasvegas")">Las Vegas</a>, <a href="@routes.RoomController.roomPage("blackjack")">Black Jack</a>, <a href="@routes.RoomController.roomPage("poker")">Poker</a> или <a href="@routes.RoomController.roomPage("roulette")">Roulette</a></li>
                                    <li>Комплимент от гостиницы в номер</li>
                                    <li>Индивидуальная обзорная экскурсия по старой Риге с дипломированным гидом</li>
                                    <li>Завтрак в номер</li>
                                    <li>Трансфер S-class</li>
                                    <li>Ужин в ресторане Дрова</li>
                                </ul>
                            </div>

                            <div class="offers-content__price">
                                <div class="offer__price--box offers-content__price__lined">
                                    <span class="offer__price--lthrough">@{880*Math.round(Currencys.first.value)}</span>
                                </div>
                                <div class="offer__price--box offers-content__price__normal">
                                    <span class="offer__price--normal">@{470*Math.round(Currencys.first.value)}</span>
                                    <span class="ruble-icon"></span>
                                </div>
                                <a href="#offer-booking" class="button button-flat-primary offers-content__price__btn smooth-scroll">
                                    <span>Забронировать</span>
                                </a>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="offers-content__section">
                            <h2 class="offers-content__section__header">Две ночи проживания в номере Premium Suite</h2>
                            <a href="@routes.RoomController.roomPage("amsterdam")">
                                <img src="@routes.Assets.at("images/offers/amsterdam-photo.jpg")" class="offers-content__img" alt="Выходные в Латвии номер Амстердам">
                                <span class="more">Посмотреть номер</span>
                            </a>
                            <p class="offers-content__section__description">6 элитных номеров с кроватью King size и сатиновыми простынями, уютным интерьером в мягких тонах и помпезные детали — эти преимущества вы будете способны оценить по достоинству именно в отеле Рояль Казино. Классика дизайна в сочетании с простором апартаментов впечатлит каждого гостя. </p>
                        </div>

                        <div class="offers-content__section">
                            <h2 class="offers-content__section__header">Комплимент от гостиницы в номер</h2>
                            <div class="flag flag-wrapper">
                                <div class="flag-left flag__body">
                                    <img src="@routes.Assets.at("images/offers/chocolate-royal-casino.png")" class="offers-content__img flag__image" alt="Ресторан отель Риги">
                                </div>
                                <div class="flag-right flag__image">
                                    <p class="flag__body offers-content__section__description">Нежный вкус домашнего мармелада, <span class="strong">шоколада ручной работы</span> и глоток шампанского Taittinger — именно таким подарком каждого посетителя встречает наша пятизвездочная гостиница. Набор сладостей в качестве бесплатного сюрприза скромно поджидает вас в номере. </p>
                                </div>
                            </div>
                        </div>

                        <div class="offers-content__section">
                            <h2 class="offers-content__section__header">Индивидуальная обзорная экскурсия по старой Риге с дипломированным гидом</h2>
                            <div class="flag flag-wrapper">
                                <div class="flag-left flag__body">
                                    <p class="offers-content__section__description">Желаете прогуляться брусчаткой дорог и парками Риги? Наш <span class="strong">опытный гид</span> сопроводит вас по наиболее туристическим местам города, где вы сможете узнать легендарные истории каждого элемента архитектуры или памятника, а также провести спонтанную фотосессию в окружении столичных панорам. </p>
                                </div>
                                <div class="flag-right flag__image">
                                    <img src="@routes.Assets.at("images/offers/riga-photo.jpg")" class="offers-content__img offers-content__image--border" alt="Экскурсия по Риге">
                                </div>
                            </div>
                        </div>

                        <div class="offers-content__section">
                            <h2 class="offers-content__section__header">Завтрак в номер</h2>
                            <div class="flag flag-wrapper">
                                <div class="flag-left flag__image">
                                    <img src="@routes.Assets.at("images/offers/breakfast.png")" class="offers-content__img flag__image" alt="Лучший ресторан Рига">
                                </div>
                                <div class="flag-right flag__body">
                                    <p class="flag__body offers-content__section__description">Быстрый завтрак — это то, что нужно спешащему по делам и экскурсиям туристу. <span class="strong">Вкусная еда по утрам</span> — это необходимость для тех, кто желает подкрепиться на полдня вперед. Мы предлагаем вам и то, и другое на завтраке в ресторане отеля Казино Рояль! </p>
                                </div>
                            </div>
                        </div>

                        <div class="offers-content__section">
                            <h2 class="offers-content__section__header">Трансфер S-class</h2>
                            <div class="flag flag-wrapper">
                                <div class="flag-left flag__body">
                                    <p class="offers-content__section__description">Избегая заказа такси, вы можете быть уверены в том, что наши водители обеспечат для вас <span class="strong">комфортный трансфер</span> из терминала до отеля и до аэропорта при отъезде. Скорость поездки и вежливость покажется вам совершенной. </p>
                                </div>
                                <div class="flag-right flag__image">
                                    <img src="@routes.Assets.at("images/offers/car-transfer-riga-royal.png")" style="max-width: 240px" class="offers-content__img" alt="Как доехать до Риги">
                                </div>
                            </div>
                        </div>

                        <div class="offers-content__section">
                            <h2 class="offers-content__section__header">Ужин в ресторане Дрова</h2>
                            <div class="flag flag-wrapper">
                                <div class="flag-left flag__image">
                                    <img src="@routes.Assets.at("images/offers/drova.jpg")" class="offers-content__img flag__image offers-content__image--border" alt="Где поужинать в Риге">
                                </div>
                                <div class="flag-right flag__body">
                                    <p class="flag__body offers-content__section__description">Мастерски приготовленные блинчики с икрой и капустные щи ждут на ужин любителей <span class="strong">традиционной кухни России</span>. Здесь воплотят в реальность рецептуру наших предков и подадут вам в присущем давним временам оформлении. Простота и изысканность одновременно — таковы секретные блюда ресторана Дрова! </p>
                                </div>
                            </div>
                        </div>


                        <section id="offer-booking" class="booking-step4-content">

                            <noindex>
                                <h2 class="casino-header__main">Не откладывайте на потом! Предложение ограничено</h2>
                            </noindex>

                            <div class="preloader">
                                <div class="bubblingG">
                                    <span class="bubblingG_1">
                                    </span>
                                    <span class="bubblingG_2">
                                    </span>
                                    <span class="bubblingG_3">
                                    </span>
                                </div>
                            </div>

                            <div class="booking-step4-form to-hide">

                            @helper.form(action = routes.Offers.send(), args = 'id -> "offer-form") {

                                @offerForm.globalError.map { error =>
                                    <p>
                                        @error.message
                                    </p>
                                }

                                <fieldset style="border:0">

                                    <div class="fortune-wheel__booking__datein">
                                        <div class="frmlabel frmcart">Дата заезда</div>
                                        <div id="datepicker1-main">
                                            <input id="datepicker1-text" type="text" name="dateIn" class="frmtxt calender" placeholder="18 июня" />
                                        </div>
                                    </div>

                                    <div class="fortune-wheel__booking__dateout">
                                        <div class="frmlabel frmsmily">Дата выезда</div>
                                        <div id="datepicker2-main">
                                            <input id="datepicker2-text" type="text" name="dateOut" class="frmtxt calender" placeholder="22 июня" />
                                        </div>
                                    </div>

                                    <div class="clear"></div>

                                    @helper.inputText(offerForm("name"),
                                        '_label -> "",
                                        'placeholder -> "Как вас зовут?",
                                        'type -> "text",
                                        '_help -> "",
                                        'class -> "human",
                                        'required -> ""
                                    )

                                    @helper.inputText(offerForm("email"),
                                        '_label -> "",
                                        'placeholder -> "Ваш электронный адрес",
                                        'type -> "email",
                                        '_help -> "",
                                        'class -> "mail",
                                        'required -> ""
                                    )

                                    @helper.inputText(offerForm("number"),
                                        '_label -> "",
                                        'placeholder -> "Ваш номер телефона",
                                        'type -> "tel",
                                        '_help -> "",
                                        'class -> "phone",
                                        'required -> ""
                                    )

                                    <input name="url" type="hidden" value="@request.uri">

                                </fieldset>

                                <div class="booking-step4-info">
                                    <p style="text-align: center; font-size: 1em;">Временно оплата проживания и доп. услуг<br>происходит по приезду</p>
                                    <span class="payment-systems"></span>
                                </div>

                            </div>

                            <div class="booking-thankyou">
                                <div class="booking-step4-form flag">
                                    <img class="flag__image" src="@routes.Assets.at("images/thankyou-boy.png")" alt="Thank you from all of Royal Casino SPA&Hotel Resort Team" />
                                    <p class="flag__body">Большое вам спасибо за то, что выбрали именно Royal Casino SPA&Hotel Resort.<br/><br/>
                                        Мы отправили на вашу почту письмо с деталями бронирования. Ознакомьтесь пожалуйста и <b>до скорой встречи!</b>
                                    </p>
                                </div>

                            </div>

                            <span class="horz-delimenter"></span>

                            <div class="booking-step4-form to-hide text-center">
                                <button class="button button-3d-action bookingform-btn" type="submit" value="Забронировать">
                                    <span>Забронировать</span>
                                </button>
                            </div>

                            }

                        </section>

                        <section class="booking-step1 bg-top">
                            <div class="booking-step4-form text-center">
                                @elements.helpblock()
                            </div>
                        </section>

                    </section>

                    <div class="clear"></div>


                </div>


            </section>
            @elements.footer()
        </div>
        @excursionscripts()
    </body>
</html>
