@()(implicit request: play.api.mvc.Request[Any])

@elements.mainscripts()

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGZdH9pye5_E3HwrPsRwTSFE8sDMeA_m8&sensor=true"></script>

    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(56.959259, 24.133223),
                zoom: 15,
                heading: 90,
                tilt: 45,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false
            };
            var map = new google.maps.Map(document.getElementById("contacts-map"),
            mapOptions);

            var image = '/assets/images/contacts/map-marker.png';
            var myLatLng = new google.maps.LatLng(56.959259, 24.133223);
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<script type="text/javascript">
    $(document).ready(function() {

    $ ('#contacts-form').submit(function(e){
        e.preventDefault();

        // Preloader
        $('.to-hide' ).animate({opacity: 0}, 500);

        $('.preloader').css({
            'display' : 'block',
            'position' : 'absolute',
            'left' : '50%',
            'top' : '50%',
            'margin-left' : -$('.preloader').width()/2,
            'margin-top' : -$('.container').height()/2
        });

        jsRouter.controllers.Contacts.send().ajax({
            type: "POST",
            data: $("#contacts-form" ).serialize(),
            dataType: "text",
            success: function(response) {
                $('.to-hide' ).hide();
                $('.preloader').hide();
                $('.booking-thankyou').addClass('animated bounceInLeft');
                $('.booking-thankyou' ).show();
            },
            error: function(response) {
                $('.preloader').hide();
                alert("Извините, наши серверы временно недоступны. Пожалуйста, позвоните нам по телефону и расскажите о выигрыше.");
            }
        });

    });

    });
</script>
